@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: radial-gradient(
    64.18% 64.18% at 60.16% 50.69%,
    #585858 0.89%,
    #404141 17.23%,
    #393939 42.04%,
    #292929 55.12%,
    #1b1b1b 71.54%,
    #0f0f0f 100%
  );
  overflow-y: hidden;

  /*it prevents the browser from artificially generating  variations if they are not available in the specified font:*/

  font-synthesis: none;
  /*the browser uses techniques like font hinting, anti-aliasing, and subpixel rendering to make the text more readable and visually appealing. It adjusts the spacing and shape of characters to optimize their clarity: */
  text-rendering: optimizeLegibility;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fcfcfc 0.89%,
    #e1e7e7 17.23%,
    #d3d3d4 42.04%,
    #cdcbcb 55.12%,
    #acaaaa 71.54%,
    #9b9c9c 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.bg-gradient-white {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fcfcfc 0.89%,
    #e1e7e7 17.23%,
    #d3d3d4 42.04%,
    #cdcbcb 55.12%,
    #acaaaa 71.54%,
    #9b9c9c 100%
  );
}

button:hover {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #c9c8c8 0.89%,
    #9d9e9e 17.23%,
    #7e7e7e 42.04%,
    #535353 55.12%,
    #2b2a2a 71.54%,
    #141414 100%
  );
}

.light-mode {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fcfcfc 0.89%,
    #e1e7e7 17.23%,
    #d3d3d4 42.04%,
    #cdcbcb 55.12%,
    #acaaaa 71.54%,
    #9b9c9c 100%
  );

  .bg-gradient-white {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #585858 0.89%,
      #404141 17.23%,
      #393939 42.04%,
      #292929 55.12%,
      #1b1b1b 71.54%,
      #0f0f0f 100%
    );
  }

  .text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #585858 0.89%,
      #404141 17.23%,
      #393939 42.04%,
      #292929 55.12%,
      #1b1b1b 71.54%,
      #0f0f0f 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .light-mode-text {
    color: rgb(223, 222, 222);
  }

  .outline {
    outline: 5px solid rgb(255, 255, 255);
  }
}
